<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign up as:</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">
    <ion-button expand="block" class="custom-btn" (click)="navigateTo('add-store-owner')">Store Owner</ion-button>
    <ion-button expand="block" class="custom-btn" (click)="navigateTo('store-employee')">Store Employee</ion-button>
    <ion-button expand="block" class="custom-btn" (click)="navigateTo('customer')">Customer</ion-button>

  </div>
</ion-content>