<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login As:</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">

    <!-- Login Form -->
    <!--<ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item> -->

    <!-- Buttons -->
    <ion-button expand="block" class="custom-btn" (click)="navigateTo('add-store-owner')">Store Owner</ion-button>
    <ion-button expand="block" class="custom-btn" (click)="navigateTo('store-employee')">Store Employee</ion-button>
    <ion-button expand="block" class="custom-btn" (click)="navigateTo('customer')">Customer</ion-button>

  </div>
</ion-content>